#logo {
  width: 175px; 
  height: auto; 
  margin-left: 45px;

}
nav ul {
   list-style-type: none;
   padding-top:45px;
}
nav ul li{
	padding-left:25px;
	padding-right:25px;
	font-size: 15px;
}
nav ul li a {
	text-decoration: none;
}	
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent !important;

    border-color: #337ab7;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;

} 
 #container{
        background-color: orange;
        margin-top: 40px;
 }
 .btn-info{
    width: 50%;
    letter-spacing: 2px;
    background:transparent; 
    transition: all 0.5s ease-in-out;
 }
 .btn-info:hover{
  transform: scale(1.05);
 }
 .icn{
  font-family: sans-serif,'poppins';
  font-size: 17px;
 }
#title h5{
  font-family: sans-serif,'poppins';
  font-weight: bold;
  font-size: 50px;
}
h5 span{
  color: #00aeef;
}
.item #imgone {
  float: left;
  padding-left:80px;
  padding-right:80px;
  margin-top: 30px;
}
.item #imgtwo {
  float: left;
  padding-left:128px;
  padding-right:128px;
  margin-top: 30px;
}
.container h2{
  font-family: sans-serif,'poppins';
}
